---
const title = "Lisa Dahl's Portfolio"
const author = "Lisa Dahl's Portfolio";
const keywords = "comics";
const featuredImage = "https://absolutelyprobablynot.com/style_img/logo.png";
const url = "https://absolutelyprobablynot.com/";
const description = "Microwaveable stories for your convenience."
const twitterCard = "";
const twitterSite = "";

---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="index, follow" />
  {author && <meta name="author" content={author} />}

  <title>{`${title} | Probably`}</title>
  <meta name="title" content={`${title} | Probably`} />
  <meta name="description" content={description} />
  {keywords && <meta name="keywords" content={keywords} />}
  {url && <link rel="canonical" href={url} />}

  <meta property="og:title" content={`${title} | Probably`} />
  <meta property="og:description" content={description} />
  {featuredImage && <meta property="og:image" content={featuredImage} />}
  {url && <meta property="og:url" content={url} />}
  <meta property="og:type" content="website" />

  {twitterCard && <meta name="twitter:card" content={twitterCard} />}
  <meta name="twitter:title" content={`${title} | Probably`} />
  <meta name="twitter:description" content={description} />
  {featuredImage && <meta name="twitter:image" content={featuredImage} />}
  {twitterSite && <meta name="twitter:site" content={twitterSite} />}
</head>